
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
    font-weight: bold;
    font-size: 30px;
    background-color: #D65780;
}

body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

div{
    margin: 10px 0;
    display: flex;
    gap: 15px;
}

button{
    display: block;
    width: 65px;
    height: 43px;
    border-radius: 10px;
    border: transparent;
    font-size: 15px;
}
button:first-of-type{
    margin-right: 105px;
    background-color:rgb(54, 196, 41);
}
button:last-of-type{
    right: 32%;
    position: absolute;
    background-color: rgb(192, 40, 40);
}
